<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Words</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../static/semantic/dist/semantic.min.css"
          th:href="@{/semantic/dist/semantic.min.css}"/>


</head>
<body>

<div class="ui center text container">


    <form action="#" th:action="@{/add}" th:object="${translation}" method="post">
        <div class="ui input">
            <input th:field="*{original}" type="text" placeholder="polskie słowo"/>
        </div>
        <div class="ui input">
            <input th:field="*{translation}" type="text" placeholder="niemieckie słowo"/>
        </div>

        <button class="ui button positive" type="submit">Add</button>
    </form>

</div>

<script src="../static/vendor/jquery-3.2.1.min.js" th:href="@{/vendor/jquery-3.2.1.min.js}"></script>

<script src="../static/semantic/dist/semantic.min.js" th:href="@{/semantic/dist/semantic.min.js}"></script>
</body>
</html>