<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Words</title>
    <meta charset="ISO-8859-2">
    <link rel="stylesheet" type="text/css" href="../static/semantic/dist/semantic.min.css"
          th:href="@{/semantic/dist/semantic.min.css}"/>


</head>
<body>

<div class="ui center text container">

    <form class="ui form">
        <div class="ui input">
            <input placeholder="polskie słowo">
        </div>
        <div class="ui input">
            <input placeholder="niemieckie słowo">
        </div>
    </form>

</div>

<script src="../static/vendor/jquery-3.2.1.min.js" th:href="@{/vendor/jquery-3.2.1.min.js}"></script>

<script src="../static/semantic/dist/semantic.min.js" th:href="@{/semantic/dist/semantic.min.js}"></script>
</body>
</html>