<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All words</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="../static/semantic/dist/semantic.min.css"
          th:href="@{/semantic/dist/semantic.min.css}"/>
    <link rel="stylesheet" href="../static/vendor/style.css"/>


</head>
<body>

<div class="ui center text container">
    <span th:text="${#lists.size(translations)}"></span>
    <div th:each="t : ${translations}" th:id="${t.id}" class="ui container">
        <span th:text="${t.id}+'. '+${t.original.body}"/>
        <div th:each="xx : ${t.translationList}" th:id="${xx.id}">
            <span th:text="${t.id}+'.'+${xx.id}+'. '+${xx.body}"/>
        </div>
    </div>
</div>

<script src="../static/vendor/jquery-3.2.1.min.js" th:href="@{/vendor/jquery-3.2.1.min.js}"></script>

<script src="../static/semantic/dist/semantic.min.js" th:href="@{/semantic/dist/semantic.min.js}"></script>

</body>
</html>